.projectsContainer{
    width: 90%;
    height: 70%;
    display: flex;
    align-self: center;
    flex-direction: row;
    background-color: none;
    gap: 30px;
}
.project{
/*    width: 400px; */
    width: 40% ;
/*   height: 350px; */
    height: 50%;
    border: 1px solid var(--color-black);
    border-radius: 25px;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 10px;
    background-color: var(--color-white);
    
}
.project img{
    height: 300px;
}
.project a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}